# EditorConfig helps maintain consistent coding styles for multiple developers working on the same project across various editors and IDEs
# See https://editorconfig.org for details

root = true

[src/ExampleApi/Migrations/**/*.cs]
# Exclude warning CS8981 (type name only contains lower-cased ascii characters)
dotnet_diagnostic.CS8981.severity = none
